body{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(130, 13, 36);
}

header{
    display: inline;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

nav{
    width: 100%;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-width: 3px;
    border-color: rgb(130, 13, 36);
    box-sizing: border-box;
    border-bottom: solid;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin:  10px 15px;
    border: solid white;
    padding: 5px 10px 5px 10px;
}

nav ul li:hover{

    border-bottom:solid rgb(130, 13, 36);
}


nav ul li a{
    text-decoration: none;
    color: rgb(130, 13, 36);
    font-size: larger;
}


nav ul{
    margin-left: 15%;
}

article{
    margin-left: 150px;
    margin-right: 150px;
}

section{
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .box {
    width: 30%;
    margin-bottom: 20px;
    background-color: #f0f0f0;
    padding: 0px;
    box-sizing: border-box;
    height: 175px;
    border-radius: 10px;
    border: 2px solid rgb(130, 13, 36);
    overflow:hidden;
  }

  .box img {
    max-width: 100%;
    height: auto;
    overflow:hidden;

  }

  .HomeTitle{
    text-align: center;
    font-size: xx-large;
  }

  .contacttitle{
    text-align: center;
    font-size: xxx-large;
  }

  a {
    text-decoration: none;
    color: rgb(130, 13, 36);
  }

  .box:hover {
    transform: scale(1.1);
  }

  .Dag1img{
    background-image: url(afbeeldingen/Dag1foto.jpg);
    background-size: cover;
    background-position: center;
  }

  .boxtitle{
    background-color: #f0f0f0;
    border-radius: 10px;
    border: 2px solid rgb(130, 13, 36);
    text-align: center;
    width: 90px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3px;
    padding-bottom: 3px;
  }

  .boxp{
    background-color: #f0f0f0;
    border-radius: 10px;
    border: 2px solid rgb(130, 13, 36);
    margin-top: 40%;;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 2px;
    width: 230px;
  }

  .kaartzoersel{
    border: 3px solid rgb(130, 13, 36);
    margin-right: 100%;
    overflow: hidden;
    width: 450px;
    height: 400px;
    border-radius: 15px;
  }

  .contacttekst{
    text-align: left;
    width: 50%;
    padding-left: 400px;
    position:absolute;
    right: auto;
    top: 350px;
    left: 270px;
  }

  .contacttekststijl{
    font-size: large;
  }
